*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik Iso', cursive;


}
#box{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#box div{
    position: relative;
    height: 100%;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 40px;
}
.content h1 {
font-size: 70px;
font-weight: bold;
color: #2ea043;
text-transform: uppercase;
    margin-bottom: 40px;
}
#about .content h1{
    color: yellow;

}
#portfolio .content h1{
color: aquamarine;
}
#services .content h1{

    color: rgb(60, 53, 200);
}
#contact .content h1{

    color: rgb(159, 108, 49);

}

.content p {
line-height: 1.5;
margin: auto;
color: #700808;
}
ul {
padding: 0;
text-align: center;
position: fixed;
margin: 2% auto;
z-index: 1;
width: 1100px;
left: 0;
right: 0;
font-family: 'Rubik Iso', cursive;


}
ul li{
    list-style: none;
    display: inline-block;
}

ul li a {
display: block;
text-decoration: none;
height: 45px;
font-size: 20px;

width: 200px;
color: #700808;
margin: 4px 0;
text-transform: uppercase;
line-height: 45px;
}
ul li a:hover{
    background-color: antiquewhite;
    text-decoration: none;
    color: #130564;
}
#home{
    background-image: url(https://sandbox-uploads.imgix.net/u/1678346040-691357d672b29ef58d4243a76168472a);
    background-color: black;
    
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#portfolio{
    background-image:url(https://sandbox-uploads.imgix.net/u/1678347045-0918c59766e03b69d0ca5e40b9b37447);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}
#contact
{
background: #f3f3f3;
background-image:url(https://sandbox-uploads.imgix.net/u/1678347075-f0a5de370afd05f3247b1e4056142787);
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}

/* <br ></br> */
#services{
  
    

background-image:url(https://sandbox-uploads.imgix.net/u/1678347351-00816180b0ade00ec98fe6648772e145);
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}

#about{
    
 background-image:url(https://sandbox-uploads.imgix.net/u/1678347551-45cbb6cf25952b3468dcfdecbe16355b );
/* -webkit-background-size: cover;
background-size: cover;
background-position: center center;
 */
}